/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6ccb2;
  size: 100%;
}

.box{
  margin: 10rem;
  width: 341px;
}

.coffee{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1.2rem;
}

.text{
  margin: 1.2rem;
}

.img{
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  object-fit: cover;
  height: 12rem;
  width: 30rem;
}

.btn1{
  display: block;
  background-color:#3c2414;
  color:white;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.7rem 3rem;
  transition: background-color 0.6s;
  text-align: center;
  font-weight: bold;
}

.btn1:hover{
  background-color:#8d6341;
  color: black;
}

h1{
  color: #553721;
  font-size: 1.9rem;
}

h2{
  color: #b08968;
  font-size: 0.9rem;
  text-decoration: none;
}

h3{
  color: #8a593b;
  font-size: 3rem;
}

p{
  color: #553721;
}


